{% extends "base.html" %}
{% block content %}
<div class="content">
  <div class="columns is-centered">
    <div class="column is-two-third">
      <div class="columns">
	<div class="column">
	  <h3>Messages</h3>
	  <ul class="messages">
	    {% for item in messages %}
	    <li>
	      <time>
		{{item.timestamp|date:"yyyy-MM-dd HH:MM"}}
		<p>{{item.message}}</p>
		<p>- {{item.name}}</p>
	      </time>
	    </li>
	    {% endfor %}
	  </ul>
	</div>
      </div>
      <div class="columns">
	<div class="column">
	  <form method="POST" action="/message">
	    {% csrf-field %}
	    <div class="field">
	      <label class="label" for="name">
		Name
	      </label>
	      <input class="input"
		     type="text"
		     name="name"
		     value="{{name}}">
	    </div>

	    <div class="field">
	      <label class="label" for="message">
		Message
	      </label>
	      <textarea class="textarea" name="message">{{message}}</textarea>
	    </div>
	    <input type="submit" class="buttom is-primary" value="comment"/>
	  </form>
	</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
