<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css"/>
    <title>{% block title %}My amazing site{% endblock %}</title>
  </head>
  <body>
    <div id="content">
      {% block content %}default content{% endblock %}
    </div>
  </body>
</html>
